@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Rubik+Distressed&family=Source+Sans+Pro:wght@600&display=swap');
body{

     background-color: #fbfbfb;  
     font-family: 'Rubik Dirt', cursive;
     font-family: 'Rubik Distressed', cursive;
     font-family: 'Source Sans Pro', sans-serif;
    }